h1,
h2,
h3 {
    text-align: center;
}
#top-page {
    background: url("/img/index.jpg") no-repeat center;
    background-size: cover;
    padding: 20px;
    height: 100vh;
}

#profile-page {
    background: url("/img/profile.jpg") no-repeat center;
    background-size: cover;
    padding: 20px;
    height: 100vh;
}

.new {
    background: url("/img/create.jpg") no-repeat center;
    background-size: cover;
    padding: 20px;
    height: 100vh;
}

.edit {
    background: url("/img/edit.jpg") no-repeat center;
    background-size: cover;
    padding: 20px;
    height: 100vh;
}

.errors {
    color: #dd0000;
    border: 1px solid #dd0000;
    padding: 5px;
    margin-bottom: 5px;
}

h1 {
    font-size: 48px;
    color: #fd395e;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#name {
    font-size: 40px;
}

#birthdate {
    font-size: 18px;
    font-weight: 400;
}

label[for=first_name],
label[for=last_name],
label[for=birthdate] {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: italic;
}

.form-button input[type=submit] {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #fd395e;
}

.top-page-btn {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #fd395e;
}

a {
    text-decoration: none;
    color: black;
}

a.database-link {
    color: #fd395e;
}
