<div class="row">
<% if !@error.nil? %>
  <p class="text-danger well"><%= @error %></p>
<% end %>
<form class="row justify-content-center align-items-center" action="/" method="post">
  <div class="col-md-6">
    <label for="birthdate"> Enter your birthdate:</label>
    <input class="form-control" type="date" name="birthdate">
  </div>
    <input class="btn btn-default" type="submit" />
</form>
</div>