<div class="row">
<% if !@error.nil? %>
  <p class="text-danger well"><%= @error %></p>
<% end %>

<div id="top-page" class="row justify-content-center align-items-center">
  <div class="col-md-6">
    <button class="btn form-button" action="/people/new">Find out your numerology number!</button>
</div>

