<div id="top-page" class="row flex-column justify-content-center align-items-center">

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12 col-md-8">
        <a class="btn top-page-btn" href="/people/new">Find out your numerology number!</a>
    </div>
</div>

<div class="row justify-content-center align-items-center pt-5">
    <div class="col-sm-12">
    <h3><a class="database-link" href="/people">See all the people in out database</a></h3>
    </div>
    </div>
</div>

